body {
  padding: 20px;
  background-color: #f8f9fa;
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 900px;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #007bff;
}
h1,
h2 {
  margin-bottom: 20px;
  color: #343a40;
  text-align: center;
  font-weight: bold;
}

p {
  text-align: center;
  color: #6c757d;
  margin-bottom: 30px;
}

form {
  margin-bottom: 30px;
}

.form-group label {
  font-weight: bold;
  color: #495057;
}

.form-control,
.form-check-input,
.btn {
  border-radius: 4px;
}

.form-control:focus,
.form-check-input:focus,
.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn {
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.table {
  margin-top: 30px;
}

.table th,
.table td {
  text-align: center;
}

.table thead th {
  background-color: #343a40;
  color: white;
}
