body {
  background-color: #e8f1f1;
}

header img {
  vertical-align: middle;
}

header h1 {
  display: inline;
  vertical-align: middle;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.bg-secondary {
  background-color: #343a40 !important;
}

.sidebar {
  height: 475px;
}

.card-item {
  height: 200px;
}

.footer-item {
  height: 250px;
}
